* {
    box-sizing: border-box
}

body{
    margin: 0;
    background-color: #1C1C1C;
    font-family: Arial;
}
.topnav {
    overflow: hidden;
    background-color: #121212;
    width: auto;
}
.topnav span{
    float: left;
    align-content: center;
    padding: 36px 36px;
    cursor: pointer;
}
.topnav span:hover{
    background-color: #2A2A2A;
}
.topnav p {
    color: #2b2b2b;
    text-align: center;
    font-family: Impact;
    text-decoration: none;
    font-size: 30px;
    padding: 0 90;
}
.topimg img {
    height: 250;
    width: 100%;
    object-fit: cover;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2A2A2A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1C1C1C;
    display: block;
    transition: 0.1s ease-in-out;
}
.sidenav a:hover {
    color: #121212;
    transform: scale(1.1);
    z-index: 10;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
    }

  .sidenav a {
      font-size: 18px;
    }
}

@font-face{
    font-family: 'Font-1';
    src: url('Font-1.woff2') format('woff2');
}

.form{
    text-align: center;
    font-family: Impact;
    font-size: 40;
}

.form a.pl{
    text-align: center;
    font-size: 20px;
    color: #797979;
    text-decoration: none;
}

.form a{
    text-align: center;
}

.songs{
    text-align: center;
}

.songs img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    transition: 0.2s;  
    overflow: hidden;
    cursor: pointer;
    margin: 0;
}

.songs img:hover{
    transform: scale(1.1);
    z-index: 10;
}
